<section class="contactos">
    <div class="contacto-info">
      <h2>Contactanos</h2>
      <p>Contáctanos para mayor infomración</p>
      <ul>
        <li><strong>Dirección:</strong> La Bretaña - Quito</li>
        <li>
          <strong>Teléfono:</strong>
          <a href="tel:+995373094">(+593) 0995373094</a>
        </li>
        <li>
          <strong>Correo electrónico:</strong>
          <a href="mailto:vetas@juegomania.com">contacto{{'@'}}juegomania.com</a>
        </li>
      </ul>
    </div>
  </section>

