<section class="titulo">
  <h2>JUEGO MANIA</h2>
  <section class="subtitulo">
      <h4> BINVENIDOS GAMERS</h4>
      
  </section>

  <section class="lista-juegos">
      <hr />
      <div class="tipo">
          <img src="../../../assets/images/ps5.jpg" alt="Juegos PS5" />
          <h3>Juegos PS5</h3><br>
          <p>Aprovecha nuestras ofertas en tus juegos favoritos de PS5 de la temporada, también contamos con descuentos especiales para suscriptores.</p>
      </div>
      <hr />
      <div class="tipo">
          <img src="../../../assets/images/PC.jpg" alt="Juegos PC" />
          <h3>Juegos PC</h3><br>
          <p>Aprovecha nuestras ofertas en tus juegos favoritos de PC de la temporada, también contamos con descuentos especiales para suscriptores.</p>
      </div>
      <hr />
      <div class="tipo">
          <img src="../../../assets/images/XB.jpg" alt="Juegos XBOX ONE" />
          <h3>Juegos XBOX ONE</h3><br>
          <p>Aprovecha nuestras ofertas en tus juegos favoritos de XBOX ONE de la temporada, también contamos con descuentos especiales para suscriptores.</p>
      </div>
  </section>
</section>
